@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.eam-logo
{
  height: 120px;
}

.formbg{
  background-color: #e6e7e8c7;
  border: 1px solid #bbbdbf;
}

.prplbtn1{
  background-color:#943c88;
  color: white;
  border: none;
  border-radius: 30px;
  padding:4px 50px 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.prplbtn1:hover, .prplbtn1:focus, .prplbtn1:active {
  background-color:#f3bb1c;
  color: #943c88;
  border: none;
  border-radius: 30px;
  padding:4px 50px 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

 .from-amber-500 {
    --tw-gradient-from: #f29f22 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(247 173 65 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
 
.via-rose-500 {
    --tw-gradient-to: rgb(244 63 94 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #bf7065 var(--tw-gradient-via-position), var(--tw-gradient-to);
}
 
.to-purple-600 {
    --tw-gradient-to: #721d6a var(--tw-gradient-to-position);
}

.text-purple-900
{
  color: #8f3c84;
}

.pldgbtn
{
  background-color:#8f3c84;
  color: #fccc0a;
  border: none;
  border-radius: 30px;
  padding:10px 60px 10px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  border: 5px solid #9a458f;
}

.pldgbtn:hover, .pldgbtn:focus, .pldgbtn:active
{
  background-color:#fccc0a;
  color: #8f3c84;
  
  border: 5px solid #ffd117;
}


.clickgif
{
 position: absolute;
    top: 20px;
    right: -7px;
    width: 60px;
    height: 65px;
}

.counterbg{
  background: #F9AE41;
background: linear-gradient(90deg, rgba(249, 174, 65, 1) 0%, rgba(252, 204, 9, 1) 50%, rgba(249, 174, 65, 1) 100%);
}

.counterbg span{
 font-size: 40px;
    font-weight: bold;
    color: #8f3c84;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 100%;
    background: #E5E5E4;
    background: linear-gradient(0deg, rgba(229, 229, 228, 1) 0%, rgba(252, 253, 255, 1) 100%);
    border: 4px solid #fff;
    box-shadow: 0px 0px 4px #0000006b;
    line-height: normal;
}

.hdng1
{
  font-size: 50px;
  font-weight: 900;
  color: #8f3c84;
  text-align: center;
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

.thanktext
{
 font-size: 31px;
    color: #303030;
    text-align: center;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 25px;
    float: left;
    width: 100%;
}

.thanktext span
{
    font-size: 40px;
    font-weight: 900;
    color: #8f3c84;
    text-align: center;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    float: left;
    width: 100%;
}

.clsbtn span
{
      text-align: left;
    float: left;
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
    color: #943c88;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.text-primary{ color: #943c88; }


@media (max-width: 575px) and (min-width: 150px) {
  .eam-logo{
  height: auto;
}
}